<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="msapplication-tap-highlight" content="no">
  <title>TruckJS</title>
  <link rel="stylesheet" href="../../dist/styles/truck-ios.css">
  <script src="../../dist/truck.js"></script>
  <script>
    $(function() {
      
    });
  </script>
</head>
<body>
  <screen id='main' class='current'>
    <nav>
      <h1>Composite List</h1>
    </nav>
    <section>
      <ul class='list'>
        <li data-goto>
          <h3>People</h3>
          <h4>Your Friends</h4>
          <aside>
            <disclosure></disclosure>
          </aside>
        </li>
        <li data-goto>
          <h3>Places</h3>
          <h4>Destinations</h4>
          <aside>
            <disclosure></disclosure>
          </aside>
        </li>
        <li data-goto>
          <h3>Animals</h3>
          <h4>Funny Critters</h4>
          <aside>
            <disclosure></disclosure>
          </aside>
        </li>
        <li data-goto>
          <h3>Cooking</h3>
          <h4>Recipes</h4>
          <aside>
            <disclosure></disclosure>
          </aside>
        </li>
        <li data-goto>
          <h3>Food</h3>
          <h4>Restaurants</h4>
          <aside>
            <disclosure></disclosure>
          </aside>
        </li>
      </ul>        
    </section>
  </screen>
</body>
</html>