<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="msapplication-tap-highlight" content="no">
  <title>ChocolateChip-UI iOS</title>
  <link rel="stylesheet" href="../../dist/truck-windows.css">
  <script src="../../dist/truck.js"></script>
  <script>
    $(function() {
      
    });
  </script>
</head>
<body>
  <screen id='main'>
    <nav>
      <h1>List-Footer</h1>
    </nav>
    <section>
      <ul class='list'>
        <li>
          <h3>People</h3>
        </li>
        <li>
          <h3>Places</h3>
        </li>
        <li>
          <h3>Things</h3>
        </li>
        <li>
          <h3>Animals</h3>
        </li>
        <li>
          <h3>Food</h3>
        </li>
      </ul>
      <summary>A quick summary about all of the items in this list. You can put as much as you like in here and the text will simply wrap around.</summary>
      <p>To create a footer, just put a summary tag or paragraph tag   after the list. And yes, as you can see, you can put multiple paragraphs after the list for more complex list footers.</p>
    </section>
  </screen>
</body>
</html>