<!DOCTYPE html>
<html lang="en" dir='rtl'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="msapplication-tap-highlight" content="no">
  <title>Truck Layout</title>
  <link rel="stylesheet" href="../../dist/styles/truck-ios.css">
  <script src="../../dist/truck.js"></script>
  <script>
    $(function() {
      
    });
  </script>
</head>
<body>
  <screen id='main'>
    <nav>
      <h1>מוסיקה</h1>
    </nav>
    <section>
      <h2>טונס הפופולרי</h2>
      <ul class='list'>
        <li class='comp'>
          <img title='Aamel Aaqla' src="../rtl-images/hebrew/moshe-perez.jpg" height="80px">
          <div>
            <h3>כל המילים השמחות</h3>
            <h4>משה פרץ</h4>
            <p>כמה זמן יעבור עד שתביני אותי<br>
כמה זמן יחלוף עד שתפסיק דמעתי</p>
          </div>
          <aside>
            <info></info>
          </aside>
        </li>
        <li class='comp'>
          <img title='Aamel Aaqla' src="../rtl-images/hebrew/sarit-hadad.jpg" height="80px">
          <div>
            <h3>ימים של שמחה - חלק א</h3>
            <h4>שרית חדד‎</h4>
            <p>יותר משנתיים עברו מאז יצא אלבומה האחרון של שרית חדד, מי שהפכה...</p>
          </div>
          <aside>
            <info></info>
          </aside>
        </li>
        <li class='comp'>
          <img title='Aamel Aaqla' src="../rtl-images/hebrew/omer-adam.jpg" height="80px">
          <div>
            <h3>תרחמי עליי</h3>
            <h4>עומר אדם</h4>
            <p>זה שיר טוב. אולי זה היה יכול להיות טוב יותר, אני לא יודע.</p>
          </div>
          <aside>
            <info></info>
          </aside>
        </li>
        <li class='comp'>
          <img title='Aamel Aaqla' src="../rtl-images/hebrew/idan-yaniv.jpg" height="80px">
          <div>
            <h3>שלמ עליכמ</h3>
            <h4>עידן יניב</h4>
            <p>שלום עליכם מלאכי השרת מלאכי עליון.</p>
          </div>
          <aside>
            <info></info>
          </aside>
        </li>
      </ul>        
    </section>
  </screen>
</body>
</html>