<!DOCTYPE html>
<html lang="en" dir='rtl'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="msapplication-tap-highlight" content="no">
  <title>Truck Layout</title>
  <link rel="stylesheet" href="../../dist/styles/truck-android.css">
  <script src="../../dist/truck.js"></script>
  <script>
    $(function() {
      
    });
  </script>
</head>
<body>
  <screen id='main' class='current'>
    <nav>
      <h1>Cقائمة مركبة</h1>
    </nav>
    <section>
      <ul class='list'>
        <li data-goto>
          <div>
            <h3>الأشخاص</h3>
          </div>
          <aside class='date'>
            <span>يوم الاثنين</span>
            <disclosure></disclosure>
          </aside>
        </li>
        <li data-goto>
          <div>
            <h3>المكان</h3>
          </div>
          <aside class='date'>
            <span>3/14/10</span>
            <disclosure></disclosure>
          </aside>
        </li>
        <li data-goto>
          <div>
            <h3>حيوانات</h3>
          </div>
          <aside class='time'>
            <span>12:30</span>
            <disclosure></disclosure>
          </aside>
        </li>
        <li data-goto>
          <div>
            <h3>طعام</h3>
          </div>
          <aside class='time'>
            <span>منتصف النهار</span>
            <disclosure></disclosure>
          </aside>
        </li>
        <li data-goto class='center-vertical'>
          <div>
            <h3>تسلية</h3>
          </div>
          <aside class='date'>
            <span>الأسبوع المقبل</span>
            <disclosure></disclosure>
          </aside>
        </li>
      </ul>        
    </section>
  </screen>
</body>
</html>